<?xml version="1.0" encoding="UTF-8"?><sv:node xmlns:sv="http://www.jcp.org/jcr/sv/1.0" sv:name="events">
  <sv:property sv:name="jcr:primaryType" sv:type="Name">
    <sv:value>hippostd:folder</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
    <sv:value>hippotranslation:translated</sv:value>
    <sv:value>mix:referenceable</sv:value>
  </sv:property>
  <sv:property sv:name="jcr:uuid" sv:type="String">
    <sv:value>46e5de2e-a6cf-446f-bfcc-f7fa7e5772e1</sv:value>
  </sv:property>
  <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
    <sv:value>new-events-document</sv:value>
    <sv:value>new-events-folder</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:id" sv:type="String">
    <sv:value>c3e216aa-f2a8-482e-8fa9-cc999fe42245</sv:value>
  </sv:property>
  <sv:property sv:name="hippotranslation:locale" sv:type="String">
    <sv:value>en</sv:value>
  </sv:property>
  <sv:node sv:name="2016">
    <sv:property sv:name="jcr:primaryType" sv:type="Name">
      <sv:value>hippostd:folder</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
      <sv:value>hippotranslation:translated</sv:value>
      <sv:value>mix:referenceable</sv:value>
    </sv:property>
    <sv:property sv:name="jcr:uuid" sv:type="String">
      <sv:value>b6a8a971-5ba1-4a89-8e4d-95f0cef158ae</sv:value>
    </sv:property>
    <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
      <sv:value>new-events-document</sv:value>
      <sv:value>new-events-folder</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:id" sv:type="String">
      <sv:value>56400f63-fb7d-422e-9520-f3cbb5710b98</sv:value>
    </sv:property>
    <sv:property sv:name="hippotranslation:locale" sv:type="String">
      <sv:value>en</sv:value>
    </sv:property>
    <sv:node sv:name="02">
      <sv:property sv:name="jcr:primaryType" sv:type="Name">
        <sv:value>hippostd:folder</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
        <sv:value>hippotranslation:translated</sv:value>
        <sv:value>mix:referenceable</sv:value>
      </sv:property>
      <sv:property sv:name="jcr:uuid" sv:type="String">
        <sv:value>569a5d36-1dbf-4216-81bd-a22964f3d43f</sv:value>
      </sv:property>
      <sv:property sv:name="hippostd:foldertype" sv:type="String" sv:multiple="true">
        <sv:value>new-events-document</sv:value>
        <sv:value>new-events-folder</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:id" sv:type="String">
        <sv:value>7bcca644-6828-424b-98aa-85a636f2e1ce</sv:value>
      </sv:property>
      <sv:property sv:name="hippotranslation:locale" sv:type="String">
        <sv:value>en</sv:value>
      </sv:property>
      <sv:node sv:name="breakfast">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>b8f5eb45-7200-452a-b26e-3118a0dc60b8</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="breakfast">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hstshirointegdemo:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>7262a90a-3330-4338-bb42-def1299f52cd</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2016/02/breakfast</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:11:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>927ff211-6243-4110-b63b-b2c1a47f8fa7</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:date" sv:type="Date">
            <sv:value>2013-11-12T08:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:enddate" sv:type="Date">
            <sv:value>2017-02-18T10:47:00.000-05:00</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:introduction" sv:type="String">
            <sv:value>Start the day with a nice breakfast.</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:location" sv:type="String">
            <sv:value>Room 101</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:title" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
          <sv:node sv:name="hstshirointegdemo:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Breakfast is served starting from 8:00 until 9:30.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="hstshirointegdemo:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>c8f03498-56eb-46c9-83b2-cf014f2e03d7</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Breakfast</sv:value>
          </sv:property>
        </sv:node>
      </sv:node>
      <sv:node sv:name="introduction-speech">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
          <sv:value>hippo:translated</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>18e36c35-429d-4fee-b76e-eeabcbfc08bb</sv:value>
        </sv:property>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="hippo:translation">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hippo:translation</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:language" sv:type="String">
            <sv:value/>
          </sv:property>
          <sv:property sv:name="hippo:message" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
        </sv:node>
        <sv:node sv:name="introduction-speech">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hstshirointegdemo:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>3571d61a-552b-4176-963a-216598470aa8</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2016/02/introduction-speech</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:02:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>9e91bb59-97be-4324-8e2f-dae187086ee7</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:date" sv:type="Date">
            <sv:value>2013-11-12T10:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:enddate" sv:type="Date">
            <sv:value>2017-02-18T10:47:00.000-05:00</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:introduction" sv:type="String">
            <sv:value>After breakfast there will be an introductory speech.</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:location" sv:type="String">
            <sv:value>Room 400</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:title" sv:type="String">
            <sv:value>Introduction speech</sv:value>
          </sv:property>
          <sv:node sv:name="hstshirointegdemo:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;

          &lt;p&gt;Speech will be about the workshop.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="hstshirointegdemo:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>9f32434e-84e3-4150-a6f2-d89a67be2fb1</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
      <sv:node sv:name="workshop">
        <sv:property sv:name="jcr:primaryType" sv:type="Name">
          <sv:value>hippo:handle</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
          <sv:value>mix:referenceable</sv:value>
        </sv:property>
        <sv:property sv:name="jcr:uuid" sv:type="String">
          <sv:value>7a29ec60-2689-48b2-aca2-49696c5c23eb</sv:value>
        </sv:property>
        <sv:node sv:name="workshop">
          <sv:property sv:name="jcr:primaryType" sv:type="Name">
            <sv:value>hstshirointegdemo:eventsdocument</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:mixinTypes" sv:type="Name" sv:multiple="true">
            <sv:value>mix:referenceable</sv:value>
          </sv:property>
          <sv:property sv:name="jcr:uuid" sv:type="String">
            <sv:value>27a1632a-527f-4e15-b9aa-9cba16ec2a5a</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:availability" sv:type="String" sv:multiple="true">
            <sv:value>live</sv:value>
            <sv:value>preview</sv:value>
          </sv:property>
          <sv:property sv:name="hippo:related___pathreference" sv:type="String">
            <sv:value>events/2016/02/workshop</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:holder" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:state" sv:type="String">
            <sv:value>published</sv:value>
          </sv:property>
          <sv:property sv:name="hippostd:stateSummary" sv:type="String">
            <sv:value>live</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:createdBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:creationDate" sv:type="Date">
            <sv:value>2013-11-12T11:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModificationDate" sv:type="Date">
            <sv:value>2013-11-12T11:18:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:lastModifiedBy" sv:type="String">
            <sv:value>admin</sv:value>
          </sv:property>
          <sv:property sv:name="hippostdpubwf:publicationDate" sv:type="Date">
            <sv:value>2013-11-12T12:16:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:id" sv:type="String">
            <sv:value>f3d788ca-24a3-4c09-a5a5-5d59ca51292e</sv:value>
          </sv:property>
          <sv:property sv:name="hippotranslation:locale" sv:type="String">
            <sv:value>en</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:date" sv:type="Date">
            <sv:value>2013-11-12T13:00:00.000+01:00</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:documenttype" sv:type="String">
            <sv:value>event</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:enddate" sv:type="Date">
            <sv:value>2017-02-18T10:47:00.000-05:00</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:introduction" sv:type="String">
            <sv:value>Workshop starts at 1:00</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:location" sv:type="String">
            <sv:value>Room 600</sv:value>
          </sv:property>
          <sv:property sv:name="hstshirointegdemo:title" sv:type="String">
            <sv:value>Workshop</sv:value>
          </sv:property>
          <sv:node sv:name="hstshirointegdemo:content">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippostd:html</sv:value>
            </sv:property>
            <sv:property sv:name="hippostd:content" sv:type="String">
              <sv:value>&lt;html&gt;
          &lt;body&gt;
          &lt;strong&gt;Everybody &lt;/strong&gt;
          &lt;p&gt;can join the workshop and start practicing what they learned during the last
          week.&lt;/p&gt;

          &lt;/body&gt;
          &lt;/html&gt;</sv:value>
            </sv:property>
          </sv:node>
          <sv:node sv:name="hstshirointegdemo:image">
            <sv:property sv:name="jcr:primaryType" sv:type="Name">
              <sv:value>hippogallerypicker:imagelink</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:docbase" sv:type="String">
              <sv:value>d035387b-f9ce-49f6-bcb0-9ab6915a2d5f</sv:value>
            </sv:property>
            <sv:property sv:name="hippo:facets" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:modes" sv:type="String" sv:multiple="true"/>
            <sv:property sv:name="hippo:values" sv:type="String" sv:multiple="true"/>
          </sv:node>
        </sv:node>
      </sv:node>
    </sv:node>
  </sv:node>
</sv:node>
